    <footer>
        <div class="top">
            <div class="top-inner">
                <div class="logo">
                    <div class="left">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/logo-home@2x.png" alt="">
                        <p>Aracımı nasıl satarım, aracım kaç para  diye düşünme. Ücretsiz <br> ekspertiz sonrası, <span>otoplus</span>  güvencesi ile anında para hesabında!</p>
                        <button>HEMEN SAT</button>
                    </div>
                    <div class="hrefs">
                        <ul>
                            <li>Hakkımızda</li>
                            <li>Biz Kimiz?</li>
                            <li>Expertiz Merkezlerimiz</li>
                            <li>Müşterilerimiz Neler Diyor?</li>
                            <li>İletişim</li>
                        </ul>
                    </div>
                    <div class="hrefs">
                        <ul>
                            <li>Yardım</li>
                            <li>Aracımı Satmak İstiyorum</li>
                            <li>Sıkça Sorulan Sorular</li>
                            <li>Canlı Yardım</li>              
                        </ul>
                    </div>
                    <div class="hrefs">
                        <ul>
                            <li>otoplus hakkında</li>
                            <li>Nasıl Çalışır?</li>
                            <li>Genel İşlem Koşulları</li>
                            <li>Kişisel Verilerin Korunması</li>
                            <li>Çerez Politikası</li>
                        </ul>
                    </div>
                </div>
                <div class="help">
                    <h1>Yardım için buradayız!</h1>
                    <p>Aklına takılan bir soru olursa bize ulaşabilir veya dilersen bu bölüme göz atabilirsin: <span>Sıkça Sorulan Sorular </span> <br> 0850 955 50 50  </p>
                    <p>Hafta içi hergün ve Cumartesi 09:00 - 18:00</p>

                </div>
                <div class="warning">
                    <h1>Yasal uyarı:</h1>
                    <p>Kullanılan markalar ve logolar, otoplus letgo'ya ait olmayan tescilli ticari markalardır ve yetkili makamlara kayıtlı ilgili sahiplerin mülkiyetindedir. Bu platformda markaların ve logoların kullanımı yalnızca bilgilendirme amaçlıdır ve hiçbir şekilde tanıtım yapılmaz.</p>
                    <p>Web sitesinde gösterilen araçların özellikleri, görüntüleri, detayları, fiyatı, garanti ve sigorta bilgileri sehven farklılıklar gösterebilmekte olup bu bilgiler, bağlayıcı, kesin ve geçerli bir teklif niteliği taşımamaktadır. Araçlarla ilgili otoplus lokasyonlarında sağlanan bilgiler nihai ve geçerli olup otoplus tüm bu bilgilerde önceden haber vermeksizin değişiklik yapma hakkına sahiptir.</p>
                    <p>Garanti kapsamı, İkinci El Motorlu Kara Taşıtlarının Ticareti Hakkındaki Yönetmelik (“Yönetmelik”) uyarınca kanuni olarak 8 yaşın veya 160bin km'nin altındaki araçlar için geçerlidir. Yönetmelik kapsamındaki şartları/limitleri sağlamayan araçlar garanti kapsamına girmemektedir.</p>
                </div>
                <div class="extra">
                    
                    <h1>Popüler Hizmetler</h1>
                    <p>aracımı satmak istiyorum</p>
                    <p>sahibinden satılık araç</p>
                    <p>aracım ne kadar eder</p>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="icon-container">
                <div class="left">
                    <p>© 2023 otoplus, Tüm Hakları Saklıdır</p>
                </div>
                <div class="right">
                    <i class="fa-brands fa-facebook-f fa-lg"></i>
                    <i class="fa-brands fa-twitter fa-lg"></i>
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>