<nav>
    <div class="left">
        <a href="/"><img src="https://cdn.otoplus.com/assets-1702037463567/img/logo-home@2x.png" alt=""></a>
    </div>
    <div class="middle">
        <ul>
            <li><a href="#">Al</a></li>
            <li><a href="/sell">Sat</a></li>
            <li><a href="#">Takas</a></li>
            <li><a href="#">Nasıl Çalışır?</a></li>
            <li><a href="#">Otomag</a></li>
        </ul>
    </div>
    <div class="right">
        <button>Üye Ol / Giriş Yap</button>
    </div>
</nav>