*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: black;
}


/*-------------------- NAVIGATION ---------------------------- */

nav{
    height: 80px;
    width: 100%;
    display: flex;
}

nav .left{
    height: 100%;
    width: 26%;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

nav .left img{
    height: auto;
    width: 120px;
    margin-bottom: 8px;
    cursor: pointer;
}

nav .middle{
    height: 100%;
    width: 39%;
    display: flex;
    justify-content: start;
    align-items: center;

}

nav .middle ul{
    display: flex;
    margin-left: 40px;
    margin-top: 2px;
}

nav .middle ul li{
    list-style: none;
    margin-left: 45px;
}

nav .middle ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    
}

nav .right{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

nav .right button{
    height: 47px;
    width: 190px;
    color: #FF3F55;
    margin-top: 5px;
    padding: 12px 18px;
    font-size: 15px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-left: 80px;
    font-weight: bold;
}

nav .right button:hover{
    background-color: #FF3F55;
    border: 1px solid #FF3F55;
    cursor: pointer;
    transition: ease-in 0.3s;
    color: white;
}


/*-------------------- MAIN ---------------------------- */


main{
    height: 480px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .image-container{
    height: 100%;
    width: 100%;
    position: absolute;
}

main .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    object-position: 45% 25.3%;
    z-index: 1;
}

main .inner{
    
    height: 100%;
    width: 60%;
    position: absolute;
    z-index: 2;
    display: flex;
}

/*-------------------- Main left container ---------------------------- */

main .inner .left{
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .inner .left .left-inner{
    
    height: 50%;
    width: 100%;
    padding-left: 13px;
    
    
}


main .inner .left h1{
    
    color: white;
    font-size: 33px;
    word-spacing: 2px;
    margin-top: 10px;
    letter-spacing: 1px;
    
}

main .inner .left p{
    
    color: white;
    font-size: 16px;
    font-weight:700;
    margin-top: 20px;
    word-spacing: 2px;
    
}


/*-------------------- Main right container ---------------------------- */


main .inner .right{
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}


main .right .pricing-container{
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.6);
    border-radius: 12px;
    height: 83%;
    width: 65%;
    border: none;
    margin-right: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .right .pricing-container .pricing-inner-container{
    
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}






main .right .pricing-inner-container .pricing-inner-top{
    
    height: 30%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    
}


main .right .pricing-inner-container .pricing-inner-top h1{
    
    font-size: 20px;
    font-weight: bolder;
    margin-top: 18px;
    
}


main .right .pricing-inner-container .pricing-inner-top p{
    
    font-size: 15px;
    margin-top: 25px;
    font-weight: 400;
}







main .right .pricing-inner-container .pricing-inner-middle{
    
    height: 30%;
    width: 100%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}


main .right .pricing-inner-container .pricing-inner-middle select{
    
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    color: rgb(150, 138, 138);
    font-weight: 500;
    outline: none;
    
}

main .right .pricing-inner-container .pricing-inner-middle select.year{
    
    height: 40%;
    width: 99.9999%;
    
    
}


main .right .pricing-inner-container .pricing-inner-middle select.brand{
    
    height: 40%;
    width: 48%;
    
    
}


main .right .pricing-inner-container .pricing-inner-middle select.model{
    
    height: 40%;
    width: 48%;
    
    margin-left: 13px;

}




main .right .pricing-inner-container .pricing-inner-bottom{
    
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    
}



main .right .pricing-inner-container .pricing-inner-bottom button{
    
    height: 50%;
    width: 99.9999%;
    background-color: #FF3F55;
    color: white;
    border-radius: 6px;
    padding: 11px 6px;
    font-size: 18px;
    border: none;
    font-weight: 600;
    margin-top: 7px;
    cursor: pointer;
}


main .right .pricing-inner-container .pricing-inner-bottom button:hover{
    
    
    color: #FF3F55;
    background-color: white;
    border: 6px red solid;
    border-radius: 6px;
    font-weight: 600;
}


main .right .pricing-inner-container .pricing-inner-bottom p{
    
    font-size: 15px;
    margin-top: 18px;
    text-decoration: underline;
    cursor: pointer;
}






main .right .pricing-inner-container .pricing-inner-icon{
    
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    padding-top: 7px;
}

main .right .pricing-inner-container .pricing-inner-icon i{
    
    font-size: 16px;
    color: #FF3F55;
    margin-left: 20px;
}

main .right .pricing-inner-container .pricing-inner-icon p{
    
    font-size: 14px;
    margin-left: 10px;
}

main .right .pricing-inner-container .pricing-inner-icon span{
    
    font-weight: bold;
    
}




/*-------------------- STEPS (MAİN ALTINDAKİ DIV) ---------------------------- */

.steps{
    width: 100%;
    height: 330px;
    background-color: #F2F3F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps .inner-steps{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

.steps .inner-steps .inner-top{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.steps .inner-steps .inner-top h1{
    font-size: 24px;
    font-weight: bolder;
}

.steps .inner-steps .inner-top p{
    color: #7f9799;
    font-size: 16px;
    font-weight: bold;
}




.steps .inner-steps .inner-bottom{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
   
}

.steps .inner-steps .inner-bottom .steps-icons{
    height: 65%;
    width: 31%;
    margin-left: 0px;
    display: flex;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(216, 223, 224);
    box-shadow: rgba(55, 70, 95, 0.12) 0px 1px 2px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

.steps .inner-steps .inner-bottom .steps-icons:nth-child(2), 
.steps .inner-steps .inner-bottom .steps-icons:nth-child(3) {
    margin-left: 20px;
}


.steps .inner-steps .inner-bottom .steps-icons .explanation{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
    box-sizing: border-box;
    
}

.steps .inner-steps .inner-bottom .steps-icons .explanation h1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.steps .inner-steps .inner-bottom .steps-icons .explanation p{
   font-size: 15px;
   color: #7f9799;
   margin-top: 10px;
   
}

.steps .inner-steps .inner-bottom .steps-icons .icon-image{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}

.steps .inner-steps .inner-bottom .steps-icons .icon-image img{
    height: 80%;
    width: 100%;
    object-fit: scale-down;
    box-sizing: border-box;
    padding-right: 2px;
}



/*-------------------- ADVANTAGES (STEPS ALTINDAKİ DIV) ---------------------------- */

.advantages{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
   
}


.advantages .advantages-inner{
    height: 100%;
    width: 60%;
    
}


.advantages .advantages-inner .advantages-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: bolder;
    
}

.advantages .advantages-inner .advantages-title h1{
    font-size: 28px;
    font-weight: bolder;
    color: #333333;
}



.advantages .advantages-inner .advantages-icons{
    height: 60%;
    width: 100%;
    display: flex;
    
}

.advantages .advantages-inner .advantages-icons .icons-container{
    height: 100%;
    width: 33.333333333%;
    display: flex;
    flex-direction: column;
    
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-top{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-top img{
    height: 60%;
    width: 60%;
    object-fit: scale-down;
    
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-bottom{
    height: 40%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 20px;
    
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-bottom h1{
    font-weight: bold;
    font-size: 18px;
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-bottom p{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    color: #333333;
}



.advantages .advantages-inner .advantages-button{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    
}



.advantages .advantages-inner .advantages-button button{
   font-size: 15px;
   background-color: #FF3F55;
   color: white;
   padding: 12px 100px;
   border: 5px solid transparent;
   border-radius: 4px;
   font-weight: 700;
   cursor: pointer;
}

.advantages .advantages-inner .advantages-button button:hover{
    color: #FF3F55;
    background-color: white;
    border: 6px red solid;
    border-radius: 6px;
    font-weight: 600;
}
 



/*-------------------- SELL PAGE ---------------------------- */

.sell-container{
    height: 740px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 0px;
    background-color: #eeeeee;
}


.sell-container .sell-inner-container{
    height: 100%;
    width: 60%;
    background-color: white;
    margin-right: 15px;
    display: flex;
}


.sell-container .sell-inner-container .sell-inner-left{
    height: 100%;
    width: 50%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    
    
}

.sell-container .sell-inner-container .sell-inner-left .inputs-title{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3F55;
    border: brown solid 2px;
    
}

.sell-container .sell-inner-container .sell-inner-left .inputs-title h1{
    font-size: 17px;
    color: white;
    font-weight: bolder;
    
}

.sell-container .sell-inner-container .sell-inner-left .left-inputs{
    
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    border: red solid 1px;
}

.sell-container .sell-inner-container .sell-inner-left .left-inputs .left-inner-inputs{
    border: green solid 2px;
    width: 70%;
    height: 100%;
    
}

.sell-container .sell-inner-container .sell-inner-left .left-inputs .left-inner-inputs .select-inner{
    border: green solid 2px;
    width: 100%;
    height: 50%;
    
}






.sell-container .sell-inner-container select{
    
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    color: rgb(150, 138, 138);
    font-weight: 500;
    outline: none;
    
}

/* .sell-container .sell-inner-container .input-item select.model{
    height: 20%;
    width: 50%;
} */



.sell-container .sell-inner-container .sell-inner-right{
    height: 100%;
    width: 50%;
    background-color: white;
    
}



/*-------------------- FOOTER ---------------------------- */

footer{
    height: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top:  #d8d8d8 solid 1px;
}



/*----------- footer top --------------- */
footer .top{
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer .top .top-inner{
    height: 100%;
    width: 62%;
    display: flex;
    flex-direction: column;
    
    
}



footer .top .top-inner .logo{
    height: 35%;
    width: 100%;
    display: flex;
    
    
}


footer .top .top-inner .logo .left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}

footer .top .top-inner .logo .left img{
    height: 90px;
    width: 200px;
    margin-top: 25px;
}

footer .top .top-inner .logo .left p{
    font-size: 14.5px;
    
    margin-top: 13px;
}

footer .top .top-inner .logo .left p span{
    color:#FF3F55;
    font-weight: bold;
}

footer .top .top-inner .logo .left button{
    height: 28px;
    width: 98px;
    margin-top: 15px;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 12px;
    border-radius: 24px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}


footer .top .top-inner .logo .left button:hover{
    background-color:#FF3F55;
    color: white;
    transition: all .3s ease-out;
}



footer .top .top-inner .logo .hrefs{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    box-sizing: border-box;
    
    
    
}

footer .top .top-inner .logo .hrefs li{
    list-style: none;
    font-size: 14.5px;
    margin-top: 10px;
    
    
}

footer .top .top-inner .logo .hrefs li:first-child {
    font-weight: bold; 
    font-size: 16px;
}

footer .top .top-inner .logo .hrefs li:nth-child(2) {
    margin-top: 5px;
}
  





footer .top .top-inner .help{
    height: 20%;
    width: 100%;
    display: flex;
    padding-top: 23px;
    box-sizing: border-box;
    flex-direction: column;
}


footer .top .top-inner .help h1{
    font-size: 16px;
}

footer .top .top-inner .help p{
    font-size: 14.5px;
    margin-top: 10px;
}

footer .top .top-inner .help p span{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

footer .top .top-inner .help p:nth-child(3){
    margin-left: 10px;
}




footer .top .top-inner .warning{
    height: 37%;
    width: 100%;
    
    
}

footer .top .top-inner .warning h1{
    font-size: 16px;
    margin-top: 20px;
}

footer .top .top-inner .warning p{
    font-size: 14.5px;
    margin-top: 25px;
}





footer .top .top-inner .extra{
    height: 8%;
    width: 100%;
    display: flex;
    border-top: #d8d8d8 solid 1px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

footer .top .top-inner .extra h1{
    font-size: 16px;
    margin-left: 20px;
    
}

footer .top .top-inner .extra p{
    font-size: 13px;
    background-color: #EEEEEE;
    color: #333333;
    padding: 5px 12px;
    border-radius: 10px;
    margin-left: 10%;
    cursor: pointer;
}

footer .top .top-inner .extra p:hover{
    background-color: #FF3F55;
    color: white;
    transition: all .3s ease-out;
}




/*----------- footer bottom --------------- */


footer .bottom{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer .bottom .icon-container{
    height: 100%;
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



footer .bottom .icon-container .left {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

footer .bottom .icon-container .left p{
    font-size: 12px;
    color: white;
    font-weight: 600;
    
}

footer .bottom .icon-container .right {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

footer .bottom .icon-container .right i{
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

/*-------------------- CARLIST ---------------------------- */
.carlist{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
    width: 100%;
    position: relative;
}
.carlist-bars{
    width: 100%;
    height: 80px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.carlist-search{
    grid-column: 1/2 ;
}
.search-container{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.carlist-ordertype{
    grid-column: 2/3 ;
}

.carlist-sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .carlist-sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .carlist-sidebar a:hover {
    color: #f1f1f1;
  }
  
  .carlist-cars {
    margin-left: 160px; /* Same as the width of the carlist-sidebar */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .carlist-sidebar {padding-top: 15px;}
    .carlist-sidebar a {font-size: 18px;}
  }

  .carlist-dropdown {
    min-width: 150px;
    position: relative;
  }
  
  .carlist-dropdown select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  
  .carlist-dropdown::before,
  .carlist-dropdown::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
  
  .carlist-dropdown::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }
  
  .carlist-dropdown::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }
  