* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: black;
}

/*-------------------- NAVIGATION ---------------------------- */

nav {
  height: 80px;
  width: 100%;
  display: flex;
}

nav .left {
  height: 100%;
  width: 26%;
  display: flex;
  justify-content: end;
  align-items: end;
}

nav .left img {
  height: auto;
  width: 120px;
  margin-bottom: 8px;
  cursor: pointer;
}

nav .middle {
  height: 100%;
  width: 39%;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav .middle ul {
  display: flex;
  margin-left: 40px;
  margin-top: 2px;
}

nav .middle ul li {
  list-style: none;
  margin-left: 45px;
}

nav .middle ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

nav .right {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav .right button {
  height: 47px;
  width: 190px;
  color: #ff3f55;
  margin-top: 5px;
  padding: 12px 18px;
  font-size: 15px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 80px;
  font-weight: bold;
}

nav .right button:hover {
  background-color: #ff3f55;
  border: 1px solid #ff3f55;
  cursor: pointer;
  transition: ease-in 0.3s;
  color: white;
}

/*-------------------- MAIN ---------------------------- */

main {
  height: 480px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .image-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

main .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%);
  object-position: 45% 25.3%;
  z-index: 1;
}

main .inner {
  height: 100%;
  width: 60%;
  position: absolute;
  z-index: 2;
  display: flex;
}

/*-------------------- Main left container ---------------------------- */

main .inner .left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .inner .left .left-inner {
  height: 50%;
  width: 100%;
  padding-left: 13px;
}

main .inner .left h1 {
  color: white;
  font-size: 33px;
  word-spacing: 2px;
  margin-top: 10px;
  letter-spacing: 1px;
}

main .inner .left p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  word-spacing: 2px;
}

/*-------------------- Main right container ---------------------------- */

main .inner .right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

main .right .pricing-container {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  height: 83%;
  width: 65%;
  border: none;
  margin-right: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .right .pricing-container .pricing-inner-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

main .right .pricing-inner-container .pricing-inner-top {
  height: 30%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main .right .pricing-inner-container .pricing-inner-top h1 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 18px;
}

main .right .pricing-inner-container .pricing-inner-top p {
  font-size: 15px;
  margin-top: 25px;
  font-weight: 400;
}

main .right .pricing-inner-container .pricing-inner-middle {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

main .right .pricing-inner-container .pricing-inner-middle select {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  color: rgb(150, 138, 138);
  font-weight: 500;
  outline: none;
}

main .right .pricing-inner-container .pricing-inner-middle select.year {
  height: 40%;
  width: 99.9999%;
}

main .right .pricing-inner-container .pricing-inner-middle select.brand {
  height: 40%;
  width: 48%;
}

main .right .pricing-inner-container .pricing-inner-middle select.model {
  height: 40%;
  width: 48%;

  margin-left: 13px;
}

main .right .pricing-inner-container .pricing-inner-bottom {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main .right .pricing-inner-container .pricing-inner-bottom button {
  height: 50%;
  width: 99.9999%;
  background-color: #ff3f55;
  color: white;
  border-radius: 6px;
  padding: 11px 6px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  margin-top: 7px;
  cursor: pointer;
}

main .right .pricing-inner-container .pricing-inner-bottom button:hover {
  color: #ff3f55;
  background-color: white;
  border: 6px red solid;
  border-radius: 6px;
  font-weight: 600;
}

main .right .pricing-inner-container .pricing-inner-bottom p {
  font-size: 15px;
  margin-top: 18px;
  text-decoration: underline;
  cursor: pointer;
}

main .right .pricing-inner-container .pricing-inner-icon {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  padding-top: 7px;
}

main .right .pricing-inner-container .pricing-inner-icon i {
  font-size: 16px;
  color: #ff3f55;
  margin-left: 20px;
}

main .right .pricing-inner-container .pricing-inner-icon p {
  font-size: 14px;
  margin-left: 10px;
}

main .right .pricing-inner-container .pricing-inner-icon span {
  font-weight: bold;
}

/*-------------------- STEPS (MAİN ALTINDAKİ DIV) ---------------------------- */

.steps {
  width: 100%;
  height: 330px;
  background-color: #f2f3f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .inner-steps {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.steps .inner-steps .inner-top {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.steps .inner-steps .inner-top h1 {
  font-size: 24px;
  font-weight: bolder;
}

.steps .inner-steps .inner-top p {
  color: #7f9799;
  font-size: 16px;
  font-weight: bold;
}

.steps .inner-steps .inner-bottom {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}

.steps .inner-steps .inner-bottom .steps-icons {
  height: 65%;
  width: 31%;
  margin-left: 0px;
  display: flex;
  background: white;
  border-radius: 4px;
  border: 1px solid rgb(216, 223, 224);
  box-shadow: rgba(55, 70, 95, 0.12) 0px 1px 2px;
  padding-right: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.steps .inner-steps .inner-bottom .steps-icons:nth-child(2),
.steps .inner-steps .inner-bottom .steps-icons:nth-child(3) {
  margin-left: 20px;
}

.steps .inner-steps .inner-bottom .steps-icons .explanation {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
  box-sizing: border-box;
}

.steps .inner-steps .inner-bottom .steps-icons .explanation h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.steps .inner-steps .inner-bottom .steps-icons .explanation p {
  font-size: 15px;
  color: #7f9799;
  margin-top: 10px;
}

.steps .inner-steps .inner-bottom .steps-icons .icon-image {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.steps .inner-steps .inner-bottom .steps-icons .icon-image img {
  height: 80%;
  width: 100%;
  object-fit: scale-down;
  box-sizing: border-box;
  padding-right: 2px;
}

/*-------------------- ADVANTAGES (STEPS ALTINDAKİ DIV) ---------------------------- */

.advantages {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.advantages .advantages-inner {
  height: 100%;
  width: 60%;
}

.advantages .advantages-inner .advantages-title {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-weight: bolder;
}

.advantages .advantages-inner .advantages-title h1 {
  font-size: 28px;
  font-weight: bolder;
  color: #333333;
}

.advantages .advantages-inner .advantages-icons {
  height: 60%;
  width: 100%;
  display: flex;
}

.advantages .advantages-inner .advantages-icons .icons-container {
  height: 100%;
  width: 33.333333333%;
  display: flex;
  flex-direction: column;
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-top {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-top img {
  height: 60%;
  width: 60%;
  object-fit: scale-down;
}

.advantages .advantages-inner .advantages-icons .icons-container .icon-bottom {
  height: 40%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0px 20px;
}

.advantages
  .advantages-inner
  .advantages-icons
  .icons-container
  .icon-bottom
  h1 {
  font-weight: bold;
  font-size: 18px;
}

.advantages
  .advantages-inner
  .advantages-icons
  .icons-container
  .icon-bottom
  p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
  color: #333333;
}

.advantages .advantages-inner .advantages-button {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.advantages .advantages-inner .advantages-button button {
  font-size: 15px;
  background-color: #ff3f55;
  color: white;
  padding: 12px 100px;
  border: 5px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.advantages .advantages-inner .advantages-button button:hover {
  color: #ff3f55;
  background-color: white;
  border: 6px red solid;
  border-radius: 6px;
  font-weight: 600;
}

/*-------------------- SELL PAGE ---------------------------- */

.sell-container {
  height: 740px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 0px;
  background-color: #eeeeee;
}

.sell-container .sell-inner-container {
  height: 100%;
  width: 60%;
  background-color: white;
  margin-right: 15px;
  display: flex;
}

.sell-container .sell-inner-container .sell-inner-left {
  height: 100%;
  width: 50%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.sell-container .sell-inner-container .sell-inner-left .inputs-title {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3f55;
  border: brown solid 2px;
}

.sell-container .sell-inner-container .sell-inner-left .inputs-title h1 {
  font-size: 17px;
  color: white;
  font-weight: bolder;
}

.sell-container .sell-inner-container .sell-inner-left .left-inputs {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  border: red solid 1px;
}

.sell-container
  .sell-inner-container
  .sell-inner-left
  .left-inputs
  .left-inner-inputs {
  border: green solid 2px;
  width: 70%;
  height: 100%;
}

.sell-container
  .sell-inner-container
  .sell-inner-left
  .left-inputs
  .left-inner-inputs
  .select-inner {
  border: green solid 2px;
  width: 100%;
  height: 50%;
}

.sell-container .sell-inner-container select {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  color: rgb(150, 138, 138);
  font-weight: 500;
  outline: none;
}

/* .sell-container .sell-inner-container .input-item select.model{
    height: 20%;
    width: 50%;
} */

.sell-container .sell-inner-container .sell-inner-right {
  height: 100%;
  width: 50%;
  background-color: white;
}

/*-------------------- FOOTER ---------------------------- */

footer {
  height: 730px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: #d8d8d8 solid 1px;
}

/*----------- footer top --------------- */
footer .top {
  height: 88%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .top .top-inner {
  height: 100%;
  width: 62%;
  display: flex;
  flex-direction: column;
}

footer .top .top-inner .logo {
  height: 35%;
  width: 100%;
  display: flex;
}

footer .top .top-inner .logo .left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

footer .top .top-inner .logo .left img {
  height: 90px;
  width: 200px;
  margin-top: 25px;
}

footer .top .top-inner .logo .left p {
  font-size: 14.5px;

  margin-top: 13px;
}

footer .top .top-inner .logo .left p span {
  color: #ff3f55;
  font-weight: bold;
}

footer .top .top-inner .logo .left button {
  height: 28px;
  width: 98px;
  margin-top: 15px;
  background-color: #eeeeee;
  color: #333333;
  padding: 4px 12px;
  border-radius: 24px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

footer .top .top-inner .logo .left button:hover {
  background-color: #ff3f55;
  color: white;
  transition: all 0.3s ease-out;
}

footer .top .top-inner .logo .hrefs {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  box-sizing: border-box;
}

footer .top .top-inner .logo .hrefs li {
  list-style: none;
  font-size: 14.5px;
  margin-top: 10px;
}

footer .top .top-inner .logo .hrefs li:first-child {
  font-weight: bold;
  font-size: 16px;
}

footer .top .top-inner .logo .hrefs li:nth-child(2) {
  margin-top: 5px;
}

footer .top .top-inner .help {
  height: 20%;
  width: 100%;
  display: flex;
  padding-top: 23px;
  box-sizing: border-box;
  flex-direction: column;
}

footer .top .top-inner .help h1 {
  font-size: 16px;
}

footer .top .top-inner .help p {
  font-size: 14.5px;
  margin-top: 10px;
}

footer .top .top-inner .help p span {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

footer .top .top-inner .help p:nth-child(3) {
  margin-left: 10px;
}

footer .top .top-inner .warning {
  height: 37%;
  width: 100%;
}

footer .top .top-inner .warning h1 {
  font-size: 16px;
  margin-top: 20px;
}

footer .top .top-inner .warning p {
  font-size: 14.5px;
  margin-top: 25px;
}

footer .top .top-inner .extra {
  height: 8%;
  width: 100%;
  display: flex;
  border-top: #d8d8d8 solid 1px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .top .top-inner .extra h1 {
  font-size: 16px;
  margin-left: 20px;
}

footer .top .top-inner .extra p {
  font-size: 13px;
  background-color: #eeeeee;
  color: #333333;
  padding: 5px 12px;
  border-radius: 10px;
  margin-left: 10%;
  cursor: pointer;
}

footer .top .top-inner .extra p:hover {
  background-color: #ff3f55;
  color: white;
  transition: all 0.3s ease-out;
}

/*----------- footer bottom --------------- */

footer .bottom {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

footer .bottom .icon-container {
  height: 100%;
  width: 62%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .bottom .icon-container .left {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
}

footer .bottom .icon-container .left p {
  font-size: 12px;
  color: white;
  font-weight: 600;
}

footer .bottom .icon-container .right {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}

footer .bottom .icon-container .right i {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

/*-------------------- CARLIST ---------------------------- */
.carlist {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #f0f0f0;
}
.carlist-bars {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: #f0f0f0 1px solid;
}
.carlist-bars-inner {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.carlist-search {
  width: 60%;
}
.search-container {
  border: none;
  font-size: 17px;
}

.search-container form input {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  font-size: 1.15rem;
  padding: 0.6em 6em 0.6em 1em;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.search-container form button {
  padding: 0.6em 6em 0.6em 1em;
  width: 150px;
  color: #ff3f55;
  margin-top: 5px;
  padding: 12px 12px;
  font-size: 15px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-weight: bold;
}

.search-container form button:hover {
  background-color: #ff3f55;
  border: 1px solid #ff3f55;
  cursor: pointer;
  transition: ease-in 0.3s;
  color: white;
}
.carlist-ordertype {
  width: 40%;
  border: none;
  font-size: 17px;
  padding: 0.6em 6em 0.6em 1em;
  margin-left: 10px;
  margin-right: 10px;
}

/*-------------------- CARLIST LIST ---------------------------- */
.carlist-list {
  width: 99%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.carlist-list-inner {
  height: 90%;
  width: 60%;
  display: flex;
  align-items: start;
  justify-content: start;
}

/*-------------------- CARLIST sidebar ---------------------------- */

.carlist-sidebar {
  height: 90%;
  width: 27%;
  padding-top: 10px;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  padding-bottom: 10px;
}

.carlist-sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.carlist-sidebar a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .carlist-sidebar {
    padding-top: 15px;
  }
  .carlist-sidebar a {
    font-size: 18px;
  }
}

.carlist-hr {
  width: 100%;
}
.carlist-dropdown-box {
  padding: 0.6em 0.6em 0.6em 0.6em;
  border: #fcfcfc 0.1px solid;
}
.carlist-dropdown {
  margin: 10px;
  width: 230px;
  position: relative;
}
.carlist-dropdown-title {
  margin-left: 10px;
  font-size: 17px;
  font-weight: bolder;
  color: #333333;
}
.carlist-dropdown select {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  color: rgb(150, 138, 138);
  font-weight: 500;
  outline: none;
  height: 90%;
  width: 100%;
  padding: 0.675em 6em 0.675em 1em;
}

.carlist-dropdown::before,
.carlist-dropdown::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.carlist-sidebar button {
  padding: 0.675em 6em 0.675em 1em;
  height: 50px;
  width: 80%;
  background-color: #ff3f55;
  color: white;
  border-radius: 6px;
  padding: 11px 6px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  margin-top: 7px;
  cursor: pointer;
}

.carlist-sidebar button:hover {
  color: #ff3f55;
  background-color: white;
  border: 6px #ff3f55 solid;
  border-radius: 6px;
  font-weight: 600;
}
/*-------------------- CARLIST cars ---------------------------- */
.carlist-cars {
  height: 90%;
  width: 73%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}

.carlist-carcontainer {
  width: 30%;
  height: 330px;
  background: white;
  padding: 0.4em;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.carlist-carcontainer a {
  text-decoration: none;
}
.carcontainer-image-container {
  background-color:#f0f0f0;;
  width: 100%;
  height: 50%;
  border-radius: 6px 6px 0 0;
}

.carcontainer-image {
  width: 100%;
  height: 100%;
}

.carcontainer-name-container p {
  text-decoration: none;
  color: #ff3f55;
  font-size: 25px;
  word-spacing: 2px;
  margin: 10px;
  letter-spacing: 1px;
}

.carcontainer-info-container p {
  color: black;
  text-decoration: none;
  font-size: 15px;
  word-spacing: 2px;
  margin: 10px;
  letter-spacing: 1px;
}

.carcontainer-price-container p {
  color: #ff3f55;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

.carlist-hover-button button {
  transform: translate(-50%, -50%);
  width: 150px;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #ff3f55;
  color: #fff;
  font-size: 18px;
  padding: 0.5rem 1rem;
  position: absolute;
  font-weight: 600;
  left: 50%;
  bottom: 50%;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.carcontainer-image-container:hover {
  transform: scale(0.98);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.carcontainer-image-container:hover .carlist-hover-button button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/*-------------------- CARLIST Login---------------------------- */

.login{
  width: 99.999%;
  height: 500px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;  
  height: 80%;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.login-title {
  font-size: 28px;
  color: #ff3f55;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.login-title::before,.login-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ff3f55;
}

.login-title::before {
  width: 18px;
  height: 18px;
  background-color: #ff3f55;
}

.login-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.login-message, .login-signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.login-signin {
  text-align: center;
}

.login-signin a {
  color: #ff3f55;
}

.login-signin a:hover {
  text-decoration: underline #ff3f55;
}

.login-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.login-form label {
  position: relative;
}

.login-form label .login-input {
  width: 90%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.login-form label .login-input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.login-form label .login-input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.login-form label .login-input:focus + span,.login-form label .login-input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.login-form label .login-input:valid + span {
  color: green;
}

.login-submit {
  border: none;
  outline: none;
  background-color: #ff3f55;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.login-submit:hover {
  background-color: #f86577;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*-------------------- CARLIST Register---------------------------- */

.register{
  width: 99.999%;
  height: 500px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 80%;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.register-title {
  font-size: 28px;
  color: #ff3f55;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.register-title::before,.register-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ff3f55;
}

.register-title::before {
  width: 18px;
  height: 18px;
  background-color: #ff3f55;
}

.register-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.register-message, .register-signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.register-signin {
  text-align: center;
}

.register-signin a {
  color: #ff3f55;
}

.register-signin a:hover {
  text-decoration: underline #ff3f55;
}

.register-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.register-form label {
  position: relative;
}

.register-form label .register-input {
  width: 90%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.register-form label .register-input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.register-form label .register-input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.register-form label .register-input:focus + span,.register-form label .register-input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.register-form label .register-input:valid + span {
  color: green;
}

.register-submit {
  border: none;
  outline: none;
  background-color: #ff3f55;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.register-submit:hover {
  background-color: #f86577;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}