<div class="car-details">
  <div class="car-inner-details">
    <div class="car-inner-details-top">
      <div class="car-details-top-buttons">
        <a href="">
          <button>
            Araç Hakkında
          </button>
        </a>
        <a href="">
          <button>
            Hasar Bilgisi
          </button>
        </a>
        <a href="">
          <button>
            Araç Özellikleri
          </button>
        </a>
        <a href="">
          <button>
            Donanım Detayları
          </button>
        </a>
      </div>
      <div class="car-details-top-social">
        <p>
          Paylaş
        </p>
        <div class="car-details-card">
          <a href="#" class="car-details-socialContainer containerOne">
            <svg class="car-details-socialSvg instagramSvg" viewBox="0 0 16 16">
              <path
                d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
              ></path>
            </svg>
          </a>

          <a href="#" class="car-details-socialContainer containerTwo">
            <svg class="car-details-socialSvg twitterSvg" viewBox="0 0 16 16">
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
              ></path>
            </svg>
          </a>

          <a href="#" class="car-details-socialContainer containerThree">
            <svg
              class="car-details-socialSvg facebookSvg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              viewBox="0 0 24 24"
              id="Layer_21"
              height="24"
              data-name="Layer 21"
            ><title></title><path
                d="M16.75,9H13.5V7a1,1,0,0,1,1-1h2V3H14a4,4,0,0,0-4,4V9H8v3h2v9h3.5V12H16Z"
              ></path></svg>
          </a>

        </div>

      </div>

    </div>
    <div class="car-inner-details-middle">
      <div class="car-details-middle-left">
        <div class="car-details-image-container">
          <img
            class="car-details-image"
            src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
            alt="car"
          />
        </div>
        <div class="car-details-icons-container">
          <div class="car-details-icons-inner-container">
            <div class="car-details-icon">
              <img
                src="https://otoplus.com/assets/img/badges/new/13.png"
                alt=""
              />
              <div class="info-icons">
                <h4>20 Gün</h4>
                <span>
                  İade Hakkı
                </span>
              </div>
            </div>
            <div class="car-details-icon">
              <img
                src="https://otoplus.com/assets/img/badges/new/3-2.png"
                alt=""
              />
              <div class="info-icons">
                <h4><span class="hidden-xs">Sürpriz</span> masraf</h4>
                <span>
                  yok
                </span>
              </div>
            </div>
            <div class="car-details-icon">
              <img
                src="https://otoplus.com/assets/img/badges/new/14.png"
                alt=""
              />
              <div class="info-icons">
                <h4>otoplus</h4>
                <span>
                  Garantisi
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="car-details-middle-right">
        <div class="car-details-middle-info">
          <div class="car-details-middle-info-inner">
            <div class="car-details-brand-container">
              <p class="car-details-brand">
                2017 Renault Clio
              </p>
            </div>
            <div class="car-details-model-container">
              <p class="car-details-model">
                CLIO HB JOY 1.5 DCI 75
              </p>
            </div>
            <div class="car-details-price-container">
              <p class="car-details-price">
                884.000TL
              </p>
            </div>
            <div class="car-details-button">
              <button>Satın Al</button>
            </div>
          </div>

        </div>
        <div class="car-details-middle-mail">
          <div class="car-details-middle-mail-inner">
            <div class="car-details-mail-title">
              <p>Hemen Mail At</p>
            </div>
            <div class="car-details-mail-button">
              <a href="/">
                <button>
                  Mail At
                </button>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="car-inner-details-bottom">

      <div class="car-details-bottom">
        <div class="car-details-specs-table">
          <ul class="car-details-vehicle-features">
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M32 64C32 28.7 60.7 0 96 0H256c35.3 0 64 28.7 64 64V256h8c48.6 0 88 39.4 88 88v32c0 13.3 10.7 24 24 24s24-10.7 24-24V222c-27.6-7.1-48-32.2-48-62V96L384 64c-8.8-8.8-8.8-23.2 0-32s23.2-8.8 32 0l77.3 77.3c12 12 18.7 28.3 18.7 45.3V168v24 32V376c0 39.8-32.2 72-72 72s-72-32.2-72-72V344c0-22.1-17.9-40-40-40h-8V448c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32V64zM96 80v96c0 8.8 7.2 16 16 16H240c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Yakıt</span>
                <span class="car-details-content">Dizel</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM256 416c35.3 0 64-28.7 64-64c0-17.4-6.9-33.1-18.1-44.6L366 161.7c5.3-12.1-.2-26.3-12.3-31.6s-26.3 .2-31.6 12.3L257.9 288c-.6 0-1.3 0-1.9 0c-35.3 0-64 28.7-64 64s28.7 64 64 64zM176 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM96 288a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm352-32a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Vites</span>
                <span class="car-details-content">Manuel</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M512 96c0 50.2-59.1 125.1-84.6 155c-3.8 4.4-9.4 6.1-14.5 5H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c53 0 96 43 96 96s-43 96-96 96H139.6c8.7-9.9 19.3-22.6 30-36.8c6.3-8.4 12.8-17.6 19-27.2H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320c-53 0-96-43-96-96s43-96 96-96h39.8c-21-31.5-39.8-67.7-39.8-96c0-53 43-96 96-96s96 43 96 96zM117.1 489.1c-3.8 4.3-7.2 8.1-10.1 11.3l-1.8 2-.2-.2c-6 4.6-14.6 4-20-1.8C59.8 473 0 402.5 0 352c0-53 43-96 96-96s96 43 96 96c0 30-21.1 67-43.5 97.9c-10.7 14.7-21.7 28-30.8 38.5l-.6 .7zM128 352a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM416 128a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Kilometre</span>
                <span class="car-details-content">72.421 KM</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M135.2 117.4L109.1 192H402.9l-26.1-74.6C372.3 104.6 360.2 96 346.6 96H165.4c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32H346.6c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2V400v48c0 17.7-14.3 32-32 32H448c-17.7 0-32-14.3-32-32V400H96v48c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V400 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Kasa Tipi</span>
                <span class="car-details-content">Hatchback 5 Kapı</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512"><path d="M171.3 96H224v96H111.3l30.4-75.9C146.5 104 158.2 96 171.3 96zM272 192V96h81.2c9.7 0 18.9 4.4 25 12l67.2 84H272zm256.2 1L428.2 68c-18.2-22.8-45.8-36-75-36H171.3c-39.3 0-74.6 23.9-89.1 60.3L40.6 196.4C16.8 205.8 0 228.9 0 256V368c0 17.7 14.3 32 32 32H65.3c7.6 45.4 47.1 80 94.7 80s87.1-34.6 94.7-80H385.3c7.6 45.4 47.1 80 94.7 80s87.1-34.6 94.7-80H608c17.7 0 32-14.3 32-32V320c0-65.2-48.8-119-111.8-127zM434.7 368a48 48 0 1 1 90.5 32 48 48 0 1 1 -90.5-32zM160 336a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Renk</span>
                <span class="car-details-content">Beyaz</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Yedek Anahtar</span>
                <span class="car-details-content">Var</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512"><path d="M256 64H64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H256V64zm32 384H576c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H288V448zM64 160c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Plaka</span>
                <span class="car-details-content">34 LY 8974</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Şehir</span>
                <span class="car-details-content">İstanbul</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152V422.8c0 9.8-6 18.6-15.1 22.3L416 503V200.4zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6V451.8L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77V504.3L192 449.4V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">Lokasyon</span>
                <span class="car-details-content">Otoplus - Polat Piyalepaşa
                  Çarşı</span>
              </span>
            </li>
            <li>
              <svg class="car-details-bottom-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path d="M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120z"/></svg>
              <span class="car-details-list-detail">
                <span class="car-details-bottom-name">otoplus Garantisi</span>
                <span class="car-details-content">Var</span>
              </span>
            </li>
            
          </ul>
          <p class="car-details-bottom-p">LETGO MOBİL İNTERNET SERVİSLERİ VE TİCARET ANONİM ŞİRKETİ</p>
        </div>
      </div>

    </div>
  </div>
</div>