    <div class="car-details">
        <div class="car-inner-details">
            <div class="car-inner-details-top"></div>
            <div class="car-inner-details-middle"></div>
            <div class="car-inner-details-bottom"></div>
        </div>
    </div>