<div class="carlist">

  <div class="carlist-bars">
    <div class="carlist-bars-inner">
      <div class="carlist-search">
        <div class="search-container">
          <form>
            <input type="text" placeholder="Ara.." name="search" />
            <button type="submit">ARA</button>
          </form>
        </div>
      </div>
      <div class="carlist-ordertype">
        <div class="carlist-dropdown">
          <select required class="ordertype" name="ordertype" id="ordertype">
            <option value="" disabled selected hidden>Sırala</option>
            <option value="ordertype1">Yeniden Eskiye</option>
            <option value="ordertype2">Eskiden Yeniye</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="carlist-list">
    <div class="carlist-list-inner">
      <div class="carlist-sidebar">
        <div class="carlist-dropdown-box">
          <p class="carlist-dropdown-title">Marka</p>
          <div class="carlist-dropdown">
            <select required class="brand" name="cars" id="cars">
              <option value="" disabled selected hidden>Marka</option>
              <option value="volvo">Volvo</option>
              <option value="bmw">BMW</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
        </div>
        <hr class="carlist-hr">

        <div class="carlist-dropdown-box">
          <p class="carlist-dropdown-title">Model</p>
          <div class="carlist-dropdown">
            <select required class="model" name="model" id="model">
              <option value="" disabled selected hidden>Model</option>
              <option value="corolla">Corolla</option>
              <option value="egea">Egea</option>
              <option value="meriva">Meriva</option>
              <option value="passat">Passat</option>
            </select>
          </div>
        </div>
        <hr class="carlist-hr">

        <div class="carlist-dropdown-box">
          <p class="carlist-dropdown-title">Model Yılı</p>
          <div class="carlist-dropdown">
            <select required class="year" name="year" id="year">
              <option value="" disabled selected hidden>Model Yılı</option>
              <option value="year1">2022</option>
              <option value="year2">2021</option>
              <option value="year3">2020</option>
              <option value="year4">2019</option>
            </select>
          </div>
        </div>
        <hr class="carlist-hr">

        <div class="carlist-dropdown-box">
          <p class="carlist-dropdown-title">Vites Modeli</p>
          <div class="carlist-dropdown">
            <select required class="gear" name="gear" id="gear">
              <option value="" disabled selected hidden>Vites Modeli</option>
              <option value="gear1">Otomatik</option>
              <option value="gear2">Manuel</option>
              <option value="gear3">Tümü</option>
            </select>
          </div>
        </div>
        <hr class="carlist-hr">

        <div class="carlist-dropdown-box">
          <p class="carlist-dropdown-title">Kilometre</p>
          <div class="carlist-dropdown">
            <select required class="km" name="km" id="km">
              <option value="" disabled selected hidden>Kilometre</option>
              <option value="km1">0-10.000</option>
              <option value="km2">10.000-100.000</option>
              <option value="km3">100.000-200.000</option>
              <option value="km4">200.000 üstü</option>
            </select>
          </div>
        </div>
        <hr class="carlist-hr">

        <div class="carlist-dropdown-box">
          <p class="carlist-dropdown-title">Yakıt</p>
          <div class="carlist-dropdown">
            <select required class="yakıt" name="yakıt" id="yakıt">
              <option value="" disabled selected hidden>Yakıt</option>
              <option value="yakıt1">Benzin</option>
              <option value="yakıt2">Dizel</option>
              <option value="yakıt3">Elekrtrik</option>
              <option value="yakıt4">Hibrit</option>
            </select>
          </div>
        </div>
        <button>Filtrele</button>
      </div>

      <div class="carlist-cars">
        <div class="carlist-carcontainer">
          <a href="/cardetails">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/cardetails">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
                 <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
         <div class="carlist-carcontainer">
          <a href="/">
            <div class="carcontainer-image-container">
              <img
                class="carcontainer-image"
                src="https://www.kayak.com/news/wp-content/uploads/sites/19/2023/11/THEME_CAR_TRANSPORTATION-shutterstock-portfolio_677345539-scaled-1.jpg"
                alt="car"
              />
              <div class="carlist-hover-button">
                <button>Satın Al</button>
              </div>
            </div>
            <div class="carcontainer-name-container">
              <p class="carcontainer-name">
                2017 Renault
              </p>
            </div>
            
            <div class="carcontainer-info-container">
              <p class="carcontainer-info">
                Yakıt : Dizel
                <br />
                Vites : Otomatik
                <br />
                Kilometre : 68.789
                <br />
              </p>
            </div>
            <div class="carcontainer-price-container">
              <p class="carcontainer-price">
                884.000TL
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>