    
    <main>
        <div class="image-container">
            <img src="https://cdn.otoplus.com/assets-1702037463567/img/slider-bg-3.jpg" alt="">
        </div>
        <div class="inner">
            <div class="left">
                <div class="left-inner">
                    <h1>Aracını 3 kolay adımda sat! <br> Aracının değerini biliyor musun?</h3>
                    <p>otoplus'ta aracının değerini 1 dakikada öğren, <br> aracını kolayca sat, paran anında hesabına gelsin!</p>
                </div>
            </div>
            <div class="right">
                <div class="pricing-container">
                    <div class="pricing-inner-container">
                        <div class="pricing-inner-top">
                            <h1>Aracını Sat</h1>
                            <p>Satmak istediğin aracın bilgilerini seç</p>
                        </div>
                        <div class="pricing-inner-middle">
                            <select required class="year" name="year" id="year">
                                <option value="" disabled selected hidden>Model Yılı</option>
                                <option value="year1">2022</option>
                                <option value="year2">2021</option>
                                <option value="year3">2020</option>
                                <option value="year4">2019</option>
                            </select>
                            <select required class="brand" name="cars" id="cars">
                                <option value="" disabled selected hidden>Marka</option>
                                <option value="volvo">Volvo</option>
                                <option value="bmw">BMW</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                            <select required class="model" name="model" id="model">
                                <option value="" disabled selected hidden>Model</option>
                                <option value="corolla">Corolla</option>
                                <option value="egea">Egea</option>
                                <option value="meriva">Meriva</option>
                                <option value="passat">Passat</option>
                            </select>
                        </div>
                        <div class="pricing-inner-bottom">
                            <button>Ön fiyat teklifi al</button>
                            <p>Aracımı yukarıda bulamıyorum</p>
                        </div>
                        <div class="pricing-inner-icon">
                            <i class="fa-solid fa-car"></i>
                            <p>Son 30 günde <span>26.184 kişi</span>  aracına teklif aldı</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="steps">
        <div class="inner-steps">
            <div class="inner-top">
                <h1>Aracını 3 kolay adımda sat</h1>
                <p>Aracını değerinde satın alıyoruz, paranı anında yatırıyoruz.</p>
            </div>
            <div class="inner-bottom">
                <div class="steps-icons">
                    <div class="explanation">
                        <h1>Ön fiyat teklifi</h1>
                        <p>Bilgilerini gir, ön fiyat teklifini ve randevunu al.</p>
                    </div>
                    <div class="icon-image">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/badges/new/12@2x.png" alt="">
                    </div>
                    

                </div>
                <div class="steps-icons">
                    <div class="explanation">
                        <h1>Ücretsiz ekspertiz yaptır</h1>
                        <p>Ekspertiz sonrasında son fiyat teklifini öğren.</p>
                    </div>
                    <div class="icon-image">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/badges/new/8@2x.png" alt="">
                    </div>
                    
                </div>
                <div class="steps-icons">
                    <div class="explanation">
                        <h1>Ödemeni anında al</h1>
                        <p>Aracını kolayca sat, paranı anında al.</p>
                    </div>
                    <div class="icon-image">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/badges/new/11@2x.png" alt="">
                    </div>
                    

                </div>
            </div>
        </div>

    </div>


    <div class="advantages">
        <div class="advantages-inner">
            <div class="advantages-title">
                <h1>Aracını otoplus'a satmanın artıları</h1>
            </div>
            <div class="advantages-icons">
                <div class="icons-container">
                    <div class="icon-top">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/badges/new/car_icon.png" alt="">
                    </div>
                    <div class="icon-bottom">
                        <h1>Şeffaf</h1>
                        <p>Ekspertiz sürecini profesyonel ve şeffaf bir şekilde gerçekleştiriyoruz.</p>
                    </div>
                </div>
                <div class="icons-container">
                     <div class="icon-top">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/badges/new/plus_icon.png" alt="">
                    </div>
                    <div class="icon-bottom">
                        <h1>Güvenilir</h1>
                        <p>Aracını değerinde fiyatlıyoruz, paranı anında hesabına yatırıyoruz.</p>
                    </div>
                </div>
                <div class="icons-container">
                     <div class="icon-top">
                        <img src="https://cdn.otoplus.com/assets-1702037463567/img/badges/new/clock_icon.png" alt="">
                    </div>
                    <div class="icon-bottom">
                        <h1>Hızlı</h1>
                        <p>Ekspertizden satışa kadar tüm süreci iki saat içinde tamamlıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="advantages-button">
                <button>Aracını sat</button>
            </div>
        </div>
    </div>
    
