<div class="sell-container">
    <div class="sell-inner-container">
        <div class="sell-inner-left">

            <div class="inputs-title">
                <h1>Araç Marka - Model Seçiniz</h1>
            </div>
            <div class="left-inputs">
                <div class="left-inner-inputs">
                    <form action="">
                        <div class="select-inner">
                            
                            <select required class="brand" name="cars" id="cars">
                                <option value="" disabled selected hidden>Marka</option>
                                <option value="volvo">Volvo</option>
                                <option value="bmw">BMW</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    
                        <div class="select-inner">
                            <p>Model</p>
                            <select required class="model" name="model" id="model">
                                <option value="" disabled selected hidden></option>
                                <option value="corolla">Corolla</option>
                                <option value="egea">Egea</option>
                                <option value="meriva">Meriva</option>
                                <option value="passat">Passat</option>
                            </select>
                        </div>

                        <div class="select-inner">
                            <p>Model Yılı</p>
                            <select required class="year" name="year" id="year">
                                <option value="" disabled selected hidden></option>
                                <option value="year1">2022</option>
                                <option value="year2">2021</option>
                                <option value="year3">2020</option>
                                <option value="year4">2019</option>
                            </select> 
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="sell-inner-right"></div>
    </div>
</div>